src/main/resources/xml/XML-CONSULTA-SERVICIO.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DATA">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="coderror"/>
        <xs:element type="xs:string" name="msgerror"/>
        <xs:element type="xs:string" name="idwsst247"/>
        <xs:element type="xs:string" name="organizacion"/>
        <xs:element type="xs:string" name="num_cuenta_s"/>
        <xs:element type="xs:string" name="logo"/>
        <xs:element type="xs:string" name="desc_logo"/>
        <xs:element type="xs:string" name="modelo"/>
        <xs:element type="xs:string" name="tipo_cta"/>
        <xs:element type="xs:string" name="relacion_cuenta"/>
        <xs:element type="xs:string" name="cobertura_cuenta"/>
        <xs:element type="xs:string" name="apaterno"/>
        <xs:element type="xs:string" name="amaterno"/>
        <xs:element type="xs:string" name="nombre_clte"/>
        <xs:element type="xs:string" name="dir_part"/>
        <xs:element type="xs:string" name="ciudad_part"/>
        <xs:element type="xs:string" name="comuna_part"/>
        <xs:element type="xs:string" name="region_part"/>
        <xs:element type="xs:string" name="fono_part"/>
        <xs:element type="xs:string" name="direc_envio_eecc"/>
        <xs:element type="xs:string" name="ciudad_envio_eecc"/>
        <xs:element type="xs:string" name="comuna_envio_eecc"/>
        <xs:element type="xs:string" name="region_envio_eecc"/>
        <xs:element type="xs:string" name="fono_envio_eecc"/>
        <xs:element type="xs:string" name="cdgo_postal"/>
        <xs:element type="xs:string" name="dir_lab"/>
        <xs:element type="xs:string" name="ciudad_laboral"/>
        <xs:element type="xs:string" name="comuna_lab"/>
        <xs:element type="xs:string" name="reg_laboral"/>
        <xs:element type="xs:string" name="fono_laboral"/>
        <xs:element type="xs:string" name="dir_email1"/>
        <xs:element type="xs:string" name="rut"/>
        <xs:element type="xs:string" name="dv_rut_clte"/>
        <xs:element type="xs:string" name="nro_cliente"/>
        <xs:element type="xs:string" name="nro_relacion"/>
        <xs:element type="xs:string" name="nro_int"/>
        <xs:element type="xs:string" name="nro_ctacte"/>
        <xs:element type="xs:string" name="campana"/>
        <xs:element type="xs:string" name="nro_int2"/>
        <xs:element type="xs:string" name="sucursal"/>
        <xs:element type="xs:string" name="cta_trassaldo"/>
        <xs:element type="xs:string" name="cantidad_adic"/>
        <xs:element type="xs:string" name="cdgo_autcc"/>
        <xs:element type="xs:string" name="cdgo_vip"/>
        <xs:element type="xs:string" name="cdgo_mje_mora_pgomin"/>
        <xs:element type="xs:string" name="codigo_mov"/>
        <xs:element type="xs:string" name="por_pminimo"/>
        <xs:element type="xs:string" name="estado_canales1"/>
        <xs:element type="xs:string" name="fecha_datos"/>
        <xs:element type="xs:string" name="fecha_apert"/>
        <xs:element type="xs:string" name="fecha_modif"/>
        <xs:element type="xs:string" name="fecha_actv_tjta"/>
        <xs:element type="xs:string" name="fecha_act_ren"/>
        <xs:element type="xs:string" name="fecha_bloq1"/>
        <xs:element type="xs:string" name="fecha_bloq2"/>
        <xs:element type="xs:string" name="fecha_ult_pago_pesos"/>
        <xs:element type="xs:string" name="fecha_ult_pago_dolar"/>
        <xs:element type="xs:string" name="fecha_ult_fact"/>
        <xs:element type="xs:string" name="fecha_venc_pago"/>
        <xs:element type="xs:string" name="fecha_nac_tit"/>
        <xs:element type="xs:string" name="cdgo_bloq1"/>
        <xs:element type="xs:string" name="cdgo_bloq2"/>
        <xs:element type="xs:string" name="cdgo_bloq_numerico"/>
        <xs:element type="xs:string" name="cdgo_mora"/>
        <xs:element type="xs:string" name="cdgo_cartera_vencida"/>
        <xs:element type="xs:string" name="cdgo_cob"/>
        <xs:element type="xs:string" name="forma_pago"/>
        <xs:element type="xs:string" name="ciclo_fac"/>
        <xs:element type="xs:string" name="cdgo_fv"/>
        <xs:element type="xs:string" name="cdgo_empresa"/>
        <xs:element type="xs:string" name="cdgo_envio_eecc"/>
        <xs:element type="xs:string" name="rebaja_cobadm"/>
        <xs:element type="xs:string" name="nro_moras_periodo"/>
        <xs:element type="xs:string" name="nro_excesos_periodo"/>
        <xs:element type="xs:string" name="nro_bloq_por_moras"/>
        <xs:element type="xs:string" name="nro_bloq_por_excesos"/>
        <xs:element type="xs:string" name="cdgo_aval"/>
        <xs:element type="xs:string" name="cdgo_promocion"/>
        <xs:element type="xs:string" name="ind_tjta_operador"/>
        <xs:element type="xs:string" name="ind_pin"/>
        <xs:element type="xs:string" name="ind_cobro_comision"/>
        <xs:element type="xs:string" name="porcje_exceso_compras_nac"/>
        <xs:element type="xs:string" name="porcje_exceso_compras_int"/>
        <xs:element type="xs:string" name="medio_envio_fisico_eecc"/>
        <xs:element type="xs:string" name="tipo_dir_fisica"/>
        <xs:element type="xs:string" name="tipo_pago"/>
        <xs:element type="xs:string" name="por_pfijo"/>
        <xs:element type="xs:string" name="mto_pfijo_9"/>
        <xs:element type="xs:string" name="cdgo_embozado"/>
        <xs:element type="xs:string" name="linea_limites"/>
        <xs:element type="xs:string" name="pct_pesos_9"/>
        <xs:element type="xs:string" name="pct_dolar_9"/>
        <xs:element type="xs:string" name="tres_cpc"/>
        <xs:element type="xs:string" name="comision_exceso"/>
        <xs:element type="xs:string" name="cupo_nacional"/>
        <xs:element type="xs:string" name="cupo_int"/>
        <xs:element type="xs:string" name="cupo_linea_2"/>
        <xs:element type="xs:string" name="cupo_virtual"/>
        <xs:element type="xs:string" name="cupo_virtual_int"/>
        <xs:element type="xs:string" name="deuda_nac_cta"/>
        <xs:element type="xs:string" name="deuda_int_cta"/>
        <xs:element type="xs:string" name="deuda_l2_cta"/>
        <xs:element type="xs:string" name="deuda_mora_nac_cta"/>
        <xs:element type="xs:string" name="deuda_mora_int_cta"/>
        <xs:element type="xs:string" name="deuda_nac_fact_cta"/>
        <xs:element type="xs:string" name="deuda_int_fact_cta"/>
        <xs:element type="xs:string" name="disp_nac_cta"/>
        <xs:element type="xs:string" name="disp_int_cta"/>
        <xs:element type="xs:string" name="disp_l2_cta"/>
        <xs:element type="xs:string" name="saldo_credito_cuota_capital"/>
        <xs:element type="xs:string" name="disp_avances_cta"/>
        <xs:element type="xs:string" name="disp_avances_dolar_cta"/>
        <xs:element type="xs:string" name="mora_1_30d"/>
        <xs:element type="xs:string" name="mora_31_60d"/>
        <xs:element type="xs:string" name="mora_61_90d"/>
        <xs:element type="xs:string" name="mora_91_120d"/>
        <xs:element type="xs:string" name="mora_121_150d"/>
        <xs:element type="xs:string" name="mora_151_180d"/>
        <xs:element type="xs:string" name="mora_181_210d"/>
        <xs:element type="xs:string" name="mora_210_999d"/>
        <xs:element type="xs:string" name="recargo_cob_1_30d"/>
        <xs:element type="xs:string" name="recargo_cob_31_60d"/>
        <xs:element type="xs:string" name="recargo_cob_61_90d"/>
        <xs:element type="xs:string" name="recargo_cob_91_120d"/>
        <xs:element type="xs:string" name="recargo_cob_121_150d"/>
        <xs:element type="xs:string" name="recargo_cob_151_180d"/>
        <xs:element type="xs:string" name="recargo_cob_181_210d"/>
        <xs:element type="xs:string" name="recargo_cob_210_999d"/>
        <xs:element type="xs:string" name="pago_minimo"/>
        <xs:element type="xs:string" name="sldo_col_nac"/>
        <xs:element type="xs:string" name="sldo_col_int"/>
        <xs:element type="xs:string" name="tasa_interes_rotativo"/>
        <xs:element type="xs:string" name="tasa_interes_cuotas_2_4"/>
        <xs:element type="xs:string" name="tasa_interes_cuotas_5_24"/>
        <xs:element type="xs:string" name="interes_x_cobrar_oper"/>
        <xs:element type="xs:string" name="interes_x_cobrar_corr"/>
        <xs:element type="xs:string" name="interes_x_cobrar_penales"/>
        <xs:element type="xs:string" name="interes_dev_oper"/>
        <xs:element type="xs:string" name="interes_dev_corr"/>
        <xs:element type="xs:string" name="interes_dev_penales"/>
        <xs:element type="xs:string" name="interes_perc_oper"/>
        <xs:element type="xs:string" name="interes_perc_corr"/>
        <xs:element type="xs:string" name="interes_perc_penales"/>
        <xs:element type="xs:string" name="deuda_total"/>
        <xs:element type="xs:string" name="colocacion_mes"/>
        <xs:element type="xs:string" name="monto_compra_mes"/>
        <xs:element type="xs:string" name="monto_avance_mes"/>
        <xs:element type="xs:string" name="monto_ultimo_pago_peso"/>
        <xs:element type="xs:string" name="monto_ultimo_pago_dolar"/>
        <xs:element type="xs:string" name="monto_cobro_adm"/>
        <xs:element type="xs:string" name="consumo_pesos"/>
        <xs:element type="xs:string" name="consumo_dolar"/>
        <xs:element type="xs:string" name="pagos_pesos_ciclo"/>
        <xs:element type="xs:string" name="pagos_dolar_ciclo"/>
        <xs:element type="xs:string" name="creditos_pesos_ciclo"/>
        <xs:element type="xs:string" name="creditos_dolar_ciclo"/>
        <xs:element type="xs:string" name="debitos_pesos_ciclo"/>
        <xs:element type="xs:string" name="debitos_dolar_ciclo"/>
        <xs:element type="xs:string" name="creditos_memo_pesos_ciclo"/>
        <xs:element type="xs:string" name="creditos_memo_dolar_ciclo"/>
        <xs:element type="xs:string" name="debitos_memo_pesos_ciclo"/>
        <xs:element type="xs:string" name="debitos_memo_dolar_ciclo"/>
        <xs:element type="xs:string" name="utili_x_cobrar_moneda_ext"/>
        <xs:element type="xs:string" name="pagos_x_aplicar_moneda_ext"/>
        <xs:element type="xs:string" name="utili_x_cobrar_moneda_nac"/>
        <xs:element type="xs:string" name="tasa_int_avce_cta_corta"/>
        <xs:element type="xs:string" name="tasa_int_avce_cta_larga"/>
        <xs:element type="xs:string" name="monto1"/>
        <xs:element type="xs:string" name="monto2"/>
        <xs:element type="xs:string" name="monto3"/>
        <xs:element type="xs:string" name="numero1"/>
        <xs:element type="xs:string" name="numero2"/>
        <xs:element type="xs:string" name="numero3"/>
        <xs:element type="xs:string" name="flag1"/>
        <xs:element type="xs:string" name="flag2"/>
        <xs:element type="xs:string" name="flag3"/>
        <xs:element type="xs:string" name="string1"/>
        <xs:element type="xs:string" name="string2"/>
        <xs:element type="xs:string" name="string3"/>
        <xs:element type="xs:string" name="filler_04"/>
        <xs:element type="xs:string" name="num_tarjeta_s"/>
        <xs:element type="xs:string" name="secuencia_tarjeta_s"/>
        <xs:element type="xs:string" name="nomb_tjta_habiente"/>
        <xs:element type="xs:string" name="nombre_empresa"/>
        <xs:element type="xs:string" name="rut_tarjeta"/>
        <xs:element type="xs:string" name="dv_tarjeta"/>
        <xs:element type="xs:string" name="sexo"/>
        <xs:element type="xs:string" name="estado_civil"/>
        <xs:element type="xs:string" name="tipo_tjta"/>
        <xs:element type="xs:string" name="estado_tjta"/>
        <xs:element type="xs:string" name="fecha_vcto_tjta"/>
        <xs:element type="xs:string" name="codigo_bloq_tjta"/>
        <xs:element type="xs:string" name="fecha_bloq_tjta"/>
        <xs:element type="xs:string" name="codigo_afinidad"/>
        <xs:element type="xs:string" name="desc_afinidad"/>
        <xs:element type="xs:string" name="cdgo_socio"/>
        <xs:element type="xs:string" name="offset"/>
        <xs:element type="xs:string" name="fecha_vcto_actual"/>
        <xs:element type="xs:string" name="fecha_vcto_anterior"/>
        <xs:element type="xs:string" name="flag_actv_tjta_actual"/>
        <xs:element type="xs:string" name="flag_actv_tjta_anterior"/>
        <xs:element type="xs:string" name="accion"/>
        <xs:element type="xs:string" name="tjtas_requeridas"/>
        <xs:element type="xs:string" name="fecha_activacion"/>
        <xs:element type="xs:string" name="fecha_apertura"/>
        <xs:element type="xs:string" name="fecha_modif_tjta"/>
        <xs:element type="xs:string" name="member_since"/>
        <xs:element type="xs:string" name="cupo_compras_nac_tjta"/>
        <xs:element type="xs:string" name="cupo_compras_int_tjta"/>
        <xs:element type="xs:string" name="cupo_avces_nac_tjta"/>
        <xs:element type="xs:string" name="cupo_avces_int_tjta"/>
        <xs:element type="xs:string" name="cupo_linea2_tjta"/>
        <xs:element type="xs:string" name="deuda_compras_nac_tjta"/>
        <xs:element type="xs:string" name="deuda_compras_int_tjta"/>
        <xs:element type="xs:string" name="deuda_avces_nac_tjta"/>
        <xs:element type="xs:string" name="deuda_avces_int_tjta"/>
        <xs:element type="xs:string" name="deuda_l2_tjta"/>
        <xs:element type="xs:string" name="disp_comp_nac_tjta"/>
        <xs:element type="xs:string" name="disp_comp_int_tjta"/>
        <xs:element type="xs:string" name="disp_avces_nac_tjta"/>
        <xs:element type="xs:string" name="disp_avces_int_tjta"/>
        <xs:element type="xs:string" name="disp_l2_tjta"/>
        <xs:element type="xs:string" name="monto11"/>
        <xs:element type="xs:string" name="monto21"/>
        <xs:element type="xs:string" name="monto31"/>
        <xs:element type="xs:string" name="numero11"/>
        <xs:element type="xs:string" name="numero21"/>
        <xs:element type="xs:string" name="numero31"/>
        <xs:element type="xs:string" name="flag11"/>
        <xs:element type="xs:string" name="flag21"/>
        <xs:element type="xs:string" name="flag31"/>
        <xs:element type="xs:string" name="string11"/>
        <xs:element type="xs:string" name="string21"/>
        <xs:element type="xs:string" name="string31"/>
        <xs:element type="xs:string" name="filler_05"/>
        <xs:element type="xs:string" name="nro_relacion2"/>
        <xs:element type="xs:string" name="status_relacion"/>
        <xs:element type="xs:string" name="numero_cliente"/>
        <xs:element type="xs:string" name="cantidad_sub_cuentas"/>
        <xs:element type="xs:string" name="codigo_bloqueo_rel"/>
        <xs:element type="xs:string" name="nombre_rel"/>
        <xs:element type="xs:string" name="direccion_relacion"/>
        <xs:element type="xs:string" name="comuna_relacion"/>
        <xs:element type="xs:string" name="codigo_comuna_relacion"/>
        <xs:element type="xs:string" name="ciudad_relacion"/>
        <xs:element type="xs:string" name="region_relacion"/>
        <xs:element type="xs:string" name="fono_relacion"/>
        <xs:element type="xs:string" name="cupo_nac_relacion"/>
        <xs:element type="xs:string" name="cupo_int_relacion"/>
        <xs:element type="xs:string" name="ciclo_fact_relacion"/>
        <xs:element type="xs:string" name="codigo_fv_relacion"/>
        <xs:element type="xs:string" name="cuenta_primaria"/>
        <xs:element type="xs:string" name="monto4"/>
        <xs:element type="xs:string" name="monto5"/>
        <xs:element type="xs:string" name="monto6"/>
        <xs:element type="xs:string" name="numero4"/>
        <xs:element type="xs:string" name="numero5"/>
        <xs:element type="xs:string" name="numero6"/>
        <xs:element type="xs:string" name="flag4"/>
        <xs:element type="xs:string" name="flag5"/>
        <xs:element type="xs:string" name="flag6"/>
        <xs:element type="xs:string" name="string4"/>
        <xs:element type="xs:string" name="string5"/>
        <xs:element type="xs:string" name="string6"/>
        <xs:element type="xs:string" name="filler_06"/>
        <xs:element type="xs:string" name="nro_cuenta_aut"/>
        <xs:element type="xs:string" name="status_cta_aut"/>
        <xs:element type="xs:string" name="status2_cta_aut"/>
        <xs:element type="xs:string" name="cupo_comp_nac_cta_aut"/>
        <xs:element type="xs:string" name="cupo_comp_int_cta_aut"/>
        <xs:element type="xs:string" name="cupo_avce_nac_cta_aut"/>
        <xs:element type="xs:string" name="cupo_avce_int_cta_aut"/>
        <xs:element type="xs:string" name="cupo_l2_cta_aut"/>
        <xs:element type="xs:string" name="deuda_comp_nac_cta_aut"/>
        <xs:element type="xs:string" name="deuda_comp_int_cta_aut"/>
        <xs:element type="xs:string" name="deuda_avce_nac_cta_aut"/>
        <xs:element type="xs:string" name="deuda_avce_int_cta_aut"/>
        <xs:element type="xs:string" name="deuda_l2_cta_aut"/>
        <xs:element type="xs:string" name="disp_comp_nac_cta_aut"/>
        <xs:element type="xs:string" name="disp_comp_int_cta_aut"/>
        <xs:element type="xs:string" name="disp_avce_nac_cta_aut"/>
        <xs:element type="xs:string" name="disp_avce_int_cta_aut"/>
        <xs:element type="xs:string" name="disp_l2_cta_aut"/>
        <xs:element type="xs:string" name="disp_flot_cuotas_l2_cta_aut"/>
        <xs:element type="xs:string" name="disp_flot_avce_l2_cta_aut"/>
        <xs:element type="xs:string" name="disp_flot_avce_cuota_l1_l2_cta"/>
        <xs:element type="xs:string" name="aut_pend_pesos_l1_cta_aut"/>
        <xs:element type="xs:string" name="aut_pend_dolar_l1_cta_aut"/>
        <xs:element type="xs:string" name="aut_pend_l2_cta_aut"/>
        <xs:element type="xs:string" name="deuda_tot_peso_cta_aut"/>
        <xs:element type="xs:string" name="deuda_tot_dolar_cta_aut"/>
        <xs:element type="xs:string" name="pago_min_cta_aut"/>
        <xs:element type="xs:string" name="tasa_1_cta_aut"/>
        <xs:element type="xs:string" name="tasa_2_cta_aut"/>
        <xs:element type="xs:string" name="flag_cuota_fija_cta_aut"/>
        <xs:element type="xs:string" name="flag_avce_cuota_cta_aut"/>
        <xs:element type="xs:string" name="flag_ncuota_cta_aut"/>
        <xs:element type="xs:string" name="flag_3cpc_cta_aut"/>
        <xs:element type="xs:string" name="flag_comp_normal_cta_aut"/>
        <xs:element type="xs:string" name="flag_avce_efectivo_cta_aut"/>
        <xs:element type="xs:string" name="monto7"/>
        <xs:element type="xs:string" name="monto8"/>
        <xs:element type="xs:string" name="monto9"/>
        <xs:element type="xs:string" name="numero7"/>
        <xs:element type="xs:string" name="numero8"/>
        <xs:element type="xs:string" name="numero9"/>
        <xs:element type="xs:string" name="flag7"/>
        <xs:element type="xs:string" name="flag8"/>
        <xs:element type="xs:string" name="flag9"/>
        <xs:element type="xs:string" name="string7"/>
        <xs:element type="xs:string" name="string8"/>
        <xs:element type="xs:string" name="string9"/>
        <xs:element type="xs:string" name="filler_07"/>
        <xs:element type="xs:string" name="nro_tarjeta_aut"/>
        <xs:element type="xs:string" name="nro_secuencia_aut"/>
        <xs:element type="xs:string" name="status_tjta_aut"/>
        <xs:element type="xs:string" name="status2_tjta_aut"/>
        <xs:element type="xs:string" name="cupo_comp_nac_tjta_aut"/>
        <xs:element type="xs:string" name="cupo_comp_int_tjta_aut"/>
        <xs:element type="xs:string" name="cupo_avce_nac_tjta_aut"/>
        <xs:element type="xs:string" name="cupo_avce_int_tjta_aut"/>
        <xs:element type="xs:string" name="cupo_l2_tjta_aut"/>
        <xs:element type="xs:string" name="deuda_comp_nac_tjta_aut"/>
        <xs:element type="xs:string" name="deuda_comp_int_tjta_aut"/>
        <xs:element type="xs:string" name="deuda_avce_nac_tjta_aut"/>
        <xs:element type="xs:string" name="deuda_avce_int_tjta_aut"/>
        <xs:element type="xs:string" name="deuda_l2_tjta_aut"/>
        <xs:element type="xs:string" name="disp_comp_nacional_tjta_aut"/>
        <xs:element type="xs:string" name="disp_comp_internacional_tjta_aut"/>
        <xs:element type="xs:string" name="disp_avce_nacional_tjta_aut"/>
        <xs:element type="xs:string" name="disp_avce_internacional_tjta_aut"/>
        <xs:element type="xs:string" name="disp_l2_tjta_aut"/>
        <xs:element type="xs:string" name="disp_flot_cuotas_l2_tjta_aut"/>
        <xs:element type="xs:string" name="disp_flot_avce_l2_tjta_aut"/>
        <xs:element type="xs:string" name="disp_flot_avce_cuota_l1_l2_tjta"/>
        <xs:element type="xs:string" name="aut_pend_l1_tjta_aut"/>
        <xs:element type="xs:string" name="aut_pend_l2_tjta_aut"/>
        <xs:element type="xs:string" name="fecha_vcto_tjta_aut"/>
        <xs:element type="xs:string" name="nombre_banda_tjta_aut"/>
        <xs:element type="xs:string" name="offset_tjta_aut"/>
        <xs:element type="xs:string" name="cvv2_tjta_aut"/>
        <xs:element type="xs:string" name="flag_cuota_fija_tjta_aut"/>
        <xs:element type="xs:string" name="flag_avce_cuotas_tjta_aut"/>
        <xs:element type="xs:string" name="flag_ncuotas_tjta_aut"/>
        <xs:element type="xs:string" name="flag_3cpc_tjta_aut"/>
        <xs:element type="xs:string" name="flag_compra_normal_tjta_aut"/>
        <xs:element type="xs:string" name="flag_avce_efecvo_tjta_aut"/>
        <xs:element type="xs:string" name="monto12"/>
        <xs:element type="xs:string" name="monto22"/>
        <xs:element type="xs:string" name="monto32"/>
        <xs:element type="xs:string" name="numero12"/>
        <xs:element type="xs:string" name="numero22"/>
        <xs:element type="xs:string" name="numero32"/>
        <xs:element type="xs:string" name="flag12"/>
        <xs:element type="xs:string" name="flag22"/>
        <xs:element type="xs:string" name="flag32"/>
        <xs:element type="xs:string" name="string12"/>
        <xs:element type="xs:string" name="string22"/>
        <xs:element type="xs:string" name="string32"/>
        <xs:element type="xs:string" name="filler_08"/>
        <xs:element type="xs:string" name="cdgo_banco"/>
        <xs:element type="xs:string" name="desc_banco"/>
        <xs:element type="xs:string" name="tipo_pac"/>
        <xs:element type="xs:string" name="nro_ctacte_pac"/>
        <xs:element type="xs:string" name="fecha_pac"/>
        <xs:element type="xs:string" name="fecha_activ_pac"/>
        <xs:element type="xs:string" name="fecha_modif_pac"/>
        <xs:element type="xs:string" name="fecha_renuncia_pac"/>
        <xs:element type="xs:string" name="monto13"/>
        <xs:element type="xs:string" name="monto23"/>
        <xs:element type="xs:string" name="numero13"/>
        <xs:element type="xs:string" name="numero23"/>
        <xs:element type="xs:string" name="flag13"/>
        <xs:element type="xs:string" name="flag23"/>
        <xs:element type="xs:string" name="string13"/>
        <xs:element type="xs:string" name="string23"/>
        <xs:element type="xs:string" name="dias_mora"/>
        <xs:element type="xs:string" name="fecha_inicio_mora"/>
        <xs:element type="xs:string" name="monto_mora1"/>
        <xs:element type="xs:string" name="monto_mora2"/>
        <xs:element type="xs:string" name="monto_mora3"/>
        <xs:element type="xs:string" name="monto_mora4"/>
        <xs:element type="xs:string" name="monto_mora5"/>
        <xs:element type="xs:string" name="monto_mora6"/>
        <xs:element type="xs:string" name="monto_mora7"/>
        <xs:element type="xs:string" name="monto_mora8"/>
        <xs:element type="xs:string" name="monto14"/>
        <xs:element type="xs:string" name="monto24"/>
        <xs:element type="xs:string" name="numero14"/>
        <xs:element type="xs:string" name="numero24"/>
        <xs:element type="xs:string" name="flag14"/>
        <xs:element type="xs:string" name="flag24"/>
        <xs:element type="xs:string" name="string14"/>
        <xs:element type="xs:string" name="string24"/>
        <xs:element type="xs:string" name="cuenta_castigo"/>
        <xs:element type="xs:string" name="monto_castigo"/>
        <xs:element type="xs:string" name="filler_09"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>